<header class="header-global">
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-light shadow-soft navbar-theme-primary mb-4">
        <div class="container position-relative">
            <a class="navbar-brand mr-lg-5" href="../../index.html">
                <img class="navbar-brand-dark" src="../../assets/img/personal-logo.svg" alt="pixel logo">
                <img class="navbar-brand-light" src="../../assets/img/personal-logo.svg" alt="pixel logo" style="height: 3rem;">
            </a>
            <div class="navbar-collapse collapse" id="navbar-default-primary">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                           <a class="navbar-brand mr-lg-5" href="../../index.html">
                                <img class="navbar-brand-dark" src="../../assets/img/brand/light.svg" alt="pixel logo">
                                <img class="navbar-brand-light" src="../../assets/img/brand/dark.svg" alt="pixel logo">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <i class="fas fa-times" data-toggle="collapse" role="button"
                                data-target="#navbar-default-primary" aria-controls="navbar-default-primary"
                                aria-expanded="false" aria-label="Toggle navigation"></i>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                    <li class="nav-item">
                        <button class="btn btn-primary mr-3" type="button" disabled><span style="color: darkgray;">> </span><span style="color: #222145; opacity: 100%;">$ home</span></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>