<header class="header-global">
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-light shadow-soft navbar-theme-primary mb-4">
        <div class="container position-relative">
            <a class="navbar-brand mr-lg-5" href="../../index.html">
                <img class="navbar-brand-dark" src="../../assets/img/personal-logo.svg" alt="pixel logo">
                <img class="navbar-brand-light" src="../../assets/img/personal-logo.svg" alt="pixel logo" style="height: 3rem;">
            </a>
            <div class="navbar-collapse collapse" id="navbar-default-primary">
                <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                    <li class="nav-item">
                        <button class="btn btn-primary mr-3" type="button" disabled><span style="color: darkgray;">> </span><span style="color: #222145; opacity: 100%;">$ home</span></button>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                <li class="nav-item">
                    <a href="html/pages/about.html" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Portfolio</a>
                </li>
            </ul>
        </div>
    </nav>
</header>