{% extends 'base_content.html' %}
{% block content %}
<div class="overflow-hidden">
    <div class="row">
        <div class="col justify-content-start">
            About Me
        </div>
        <div class="col">
            <div class="row-4">Projects</div>
            <div class="row">
                <div class="col-8">Coursework</div>
                <div class="col-4">Email</div>
            </div>
            <div class="row">
                <div class="col-6">Resume</div>
                <div class="col-6">Spotify</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}